  /* 📰 Layout ******************************************************************/
body {
  background: var(--bg-color);
}


/* Desktop */
.desktop.grid {
  display: grid;
  grid-template-areas: "sidebar main";  
  grid-template-columns: var(--desktop-sidebar-width) 1fr;
  /* box-shadow: inset 0 0 0 5px rgba(200, 0, 0, .3); */
}

.desktop .sidebar {
  grid-area: sidebar;
  position: fixed;
  width: var(--desktop-sidebar-width);
  left: 0;
  top: 0;
  height: 100vh;
  padding-right: var(--desktop-gutter);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
  /* show column borders */
  /* box-shadow: inset 0 0 0 5px rgba(150, 0, 0, .3); */
}

.desktop .sidebar header,
.desktop .sidebar main,
.desktop .sidebar footer {
  /* box-shadow: inset 0 0 0 1px rgba(280, 0, 0, .3); */
}


.desktop .main {
  grid-area: main;
  min-height: 100vh;
  /* show column borders */
  /* box-shadow: inset 0 0 0 1px rgba(255, 255, 150, 1); */
}


